*{
    box-sizing: border-box;
}
@media (max-width: 414){
.burger p {
    font-size: 15px;
}
}
@media (max-width: 767px){
    .navbar-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    font-family: bold;
    font-size: 20px;
    font-weight: 500;
    text-transform: none;
    background-color: #000;
}
}
@media (max-width: 767px){
.navbar-toggler {
    position: relative;
    width: 1.6em;
    padding: 0;
    z-index: 9999;
    height: 1.3em;
    display: inline-block;
    border-style: none;
}
}
@media (min-width: 768px){
.navbar-nav .nav-link:hover {
    color: #ff4242;
}
}
@media (min-width: 768px){
.navbar-sml {
    padding: 0 1rem;
}
}
@media (max-width: 767px){
.navbar-toggler.collapsed span:nth-child(1) {
    top: 0;
}
}
@media (max-width: 767px){
.navbar-toggler.collapsed span:nth-child(2) {
    top: 8px;
}
}
@media (max-width: 767px){
.navbar-toggler.collapsed span:nth-child(3) {
    top: 16px;
}
}
@media (max-width: 767px){
.navbar-toggler:not(.collapsed) span:nth-child(1) {
    -webkit-transform: rotate(
225deg);
    transform: rotate(225deg);
}
}
@media (max-width: 767px){
.navbar-toggler:not(.collapsed) span {
    background-color: #fff;
    top: 8px;
}
}
@media (max-width: 767px){
.navbar-toggler:not(.collapsed) span:nth-child(2) {
    opacity: 0;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
}
}
@media (max-width: 767px){
.navbar-toggler:not(.collapsed) span {
    background-color: #fff;
    top: 8px;
}
}
@media (max-width: 767px){
.navbar-toggler:not(.collapsed) span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
}
@media (max-width: 767px){
.navbar-toggler:not(.collapsed) span {
    background-color: #fff;
    top: 8px;
}
}
@media (max-width: 767px){
.navbar-toggler span {
    height: 2px;
    display: inline-block;
    position: absolute;
    width: 100%;
    left: 0;
    list-style: none;
   transition: .3s ease;
    background-color: #000;
    box-sizing: border-box;
}
}
@media (max-width: 767px){
.navbar-nav:before {
    content: "Menu";
    color: #fff;
    font-size: 1.7em;
    opacity: .5;
    margin-left: .9em;
    margin-top: 1.8em;
    background-color: #000;
}
}
@media (max-width: 767px){
div.navbar-nav :before{
    position: absolute;
    height: 40px;
    width: 20px;
     background: #e13838;
    left: 70px;
   top: 20;
    transform: rotate(-55deg);
    z-index: -1000;
}
}
@media (max-width: 767px){
.navbar-nav a::before {
    content: "";
    position: absolute;
    width: .25em;
    height: 65%;
    left: 0;
    border-radius: .5em;
}
}@media (max-width: 767px){
.navbar-nav a {
    padding: .5em 1.3em !important;
    position: relative;
    color: #fff !important;
}
}
@media (min-width: 768px){
.navbar-nav .nav-link {
    color: #665d5d;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 2em 0.8rem !important;
    position: relative;
}
}
@media (max-width: 767px){
.heat{
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    color: #fff;
    border-radius: 50px;
    border-color: #000;
    border: 1px solid;
    margin-left: 150px;
}
}
@media (max-width: 767px){
ul.dropdown-menu{
    position: relative;
    background-color: #000;
    list-style: none;
    top: 70px;
    left: 0;
    width: 160%;
    border-radius: 10px;
    padding-top: 20px;   
}
}

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .dropdown-menu {
    position: absolute;
}
}
@media (min-width: 768px){
.dropdown-menu {
    left: -62px;
    padding: 25px 0px;
    background-color: #D94242;
    top: 50px;
}
}
@media (max-width: 767px){
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-right: 334px;
}
}
}@media (max-width: 767px){
.navbar-collapse .heat {
    border-color: #fff;
    color: #fff;
    margin: 1.5em auto;
}
}
@media (max-width: 767px){
.dropdown-menu.show {
    display: block;
    width: auto;
}
}
@media (max-width: 767px){
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
}
@media (max-width: 767px){
.navbar-collapse.show {

    -webkit-transform: translate(0%);
    transform: translate(0%);
    border-style: none;

}
}
@media (min-width: 768px){
.dropdown-item {
    padding: 0.5rem 1.5rem;
    letter-spacing: 1px;
    position: relative;
    color: #fff;
    font-size: 0.8em;
    font-weight: 500;
    text-transform: uppercase;
}
}@media (min-width: 768px){
.dropdown-menu::after {
    border-bottom: 9px solid #D94242;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    bottom: 100%;
    content: " ";
    height: 0;
    left: 80%;
    margin-left: -33%;
    pointer-events: none;
    position: absolute;
    width: 0;
}
}
@media (max-width: 767px){
.dropdown-menu .dropdown-item {
    position: relative;
}
}
@media (max-width: 767px){
.navbar-nav a {
    padding: .5em 1.3em !important;
    position: relative;
    color: #fff !important;
}
}
@media (max-width: 767px){
.navbar-nav a::before {
    content: "";
    position: absolute;
    width: .25em;
    height: 65%;
    left: 0;
    border-radius: .5em;
}
}
@media (max-width: 767px){
.navbar-nav a.menu-active:before {
    background-color: #fff;
}
}
@media (max-width: 767px){
.navbar-nav a::before {
    content: "";
    position: absolute;
    width: .25em;
    height: 65%;
    left: 0;
    border-radius: .5em;
}
}
@media (min-width: 992px){
.navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
}
}
@media (max-width: 767px){
.navbar-collapse {
    position: fixed;
    display: block !important;
    background-color: #000;
    width: 100%;
    height: 100%;
    overflow: auto;
    top: 0;
    z-index: 999;
    padding: 1.5em;
    transition: all cubic-bezier(0.6, 0.46, 0, 0.99) 0.4s;
    left: 0;
    -webkit-transform: translate(100%);
    transform: translateX(100%);
}
}
@media (max-width: 767px){
.dropdown-menu.show {
    display: block;
    background-color: #000;
}
}
@media (min-width: 992px){
.banner h1 {
    font-size: 4em;
}
}
@media(max-width: 576px){
#banner p {
    font-size:1.0rem;
}
}
@media (max-width: 576px){
.banner .slogan {
    width: 100%;
}
}

@media only screen and (min-width: 768px){
.burger {
    padding: 100px 0;
}
}
@media only screen and (min-width: 1200px){
.container {
    width: 1024px;
}
}
@media (min-width: 1200px){
.container {
    max-width: 1140px;
}
}
@media (min-width: 992px){
.container {
    max-width: 960px;
}
}
@media (min-width: 768px){
.mb-md-0, .my-md-0 {
    margin-bottom: 0 !important;
}
}

@media(max-width: 767px){
.text {
    color: #f2f2f2;
    font-size: 10px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    left: 84%;
    top: -52;
    text-align: center;
}
}
@media (max-width: 767px){
.up .ups-icon {
    height: 80px;
    width: 80px;
    line-height: 80px;
}
}
@media (min-width: 768px){
.col-md-4 {
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
}
}
@media (min-width: 768px){
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
}
/*@media(max-width: 767){
.masthead h2 {
    font-size: .73rem;
    margin-left: 0%;
}
}*/
@media(max-width: 576px){
.mySlides p{
    font-size: 0.95rem;
}
}
@media(max-width: 414){

.col-md-12 h2 {
    font-size: 1.15rem;
}
@media (max-width: 576px){
.gutter:disable {
    padding: 0;
}
}
@media (max-width: 576px){
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -100px;
    margin-left: -100px;
}
}
@media only screen and (min-width: 768px){
.gutter {
    padding: 0 100px;
}
}
@media (min-width: 768px){
.order-md-0 {
    order: 0;
}
}
@media (max-width: 576px){
.half-p {
    width: 100%;
}
}
@media(max-width: 576px){
.half-p {
    width: 100%;
    margin: 0 auto;
    opacity: 0.7;
    font-size: 1.1em;
}
}
@media (max-width: 767px){
.form-cntrl{
    display: block;
   /* flex-basis: 100%;
    /*width: 282%;
    //*height: calc(2.25rem + 2px);*//
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;                    
    border-top-left-radius:1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    border-bottom-left-radius:1.75rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
    height: 46px;
    border-radius: 25px;     
    margin-inline-start: 65px;   

}
}
@media (max-width: 576px){
.but{
     background: #D94242;
    border-color: #D94242;
    border-radius: 40px;
    color: #FFF;
    /*font-size: 0.9em;*/
    font-weight: 100;
    letter-spacing: 1px;
    min-width: 80px;
    text-trans: uppercase;
    padding: 0.8em 1.6em;
    margin-inline-start: 140px;
}
}
@media (max-width: 414px){
.form-group button {
    position: relative;
    right: -40px;
    top: 0;
    width: 60%;
    border-radius: 0.25rem;                    
    border-top-left-radius:1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    border-bottom-left-radius:1.75rem;
    justify-content: center;

    }
    }
@media (max-width: 414px){
    .bttn {

    display: inline-block;
    font-weight: 100;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: .25rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    transition: color 0.15s 
    ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
}

@media (max-width: 576px){
.proj {
    padding-right: .4rem;
    line-height: 1;
    padding: .3rem 1rem;
    font-size: 1.25rem;
    border-radius: 2.3rem;
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    left: 50px;
    right: -65;
}
}
@media(max-width: 767px){
.btn {
    margin-left: 25px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    background-color: #dd4242;
    border: 1px solid;
    border-color: #fff;
    color: #fff;
left: 25px;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
}
@media(max-width: 414px){
.copy {
    font-size: 0.8em;
    color: #FFF;
    opacity: 0.4;
    margin-left: 30px;
}
}
@media (min-width: 768px){
.col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
}
@media (min-width: 576px){
.col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
}
}
@media (min-width: 576px){
.form-group {
    position: relative;
    /* width: 55%; */
    /* margin: 0 auto; */
    text-align: center;
}
}
@media (min-width: 414px){

.form-group button {
    position: relative;
    width: 20%;
    border-radius: 0.25rem;
    border-top-left-radius: 1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    border-bottom-left-radius: 1.75rem;
    margin-left:52px;
    height: 48px;
}
}
@media (min-width: 768px){
.btn-theme {
    background: #D94242;
    border-color: #D94242;
    border-radius: 30px;
    color: #FFF;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 1px;
    min-width: 175px;
    text-transform: uppercase;
    padding: 0.8em 1.6em;
}
}
@media (min-width: 768px){
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
}
@media (min-width: 768px){
.footer-nav li a :hover {
    color: #fff;
}
}