* {
    margin: 0;
    padding: 0;
    font-family: 'Sen', sans-serif;
}
html,body{
   overflow-x: hidden;
}
.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    background-color: #fff;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index: 100000;
    transition: 0.3s all ease;
    padding: 0 1rem;  
}
.navbar-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 263px;
}
.navbar-sml {
    background: #FFF;
    border-bottom: 1px solid #EEE;
    transition: 0.6s all;
}
.nav-link {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 2em 0.8rem !important;
    position: relative;
    display: block;
}
a:active, a, a:hover {
    text-decoration: none;
    transition: all ease .3s;
}
a, a:focus {
    color: #D94242;
}
.collapse:not(.show) {
    display: none;
}
.nav-link:hover{
    color: #000;
}
.navbar-nav .nav-link {
    color: #999;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
    letter-spacing: 1px;
    padding: 2em 0.8rem !important;
    position: relative;
}
.navbar.sticky{
    padding: 5px 100px;
    background: #fff;
    flex-basis: auto;
}
.navbar-brand{
    position: relative;
    transition: 0.6s;
}
navbar ul{
    position: relative;
    display: flex;
}
navbar ul li{
    position: relative;
}
navbar .sticky .navbar-brand,
navbar .sticky ul li a{
    color: #fff;
    transition: 0.6s;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
   color: rgb(243 9 9 / 90%);
    height: 50%;
    top: 0px;  
}
div.navbar-nav :after{
    position: absolute;
    height: 40px;
    width: 20px;
    background: #e13838;
    left: 70px;
    top: 30px;
    transform: rotate(45deg);
    z-index: -1;
}
animation:service-bubbles 5s ease-in-out 
infinite;
offset-path: path{"M 40 0 C 75 170 160 140
  200 280 Q 220 400 340 400 Q 420 380 480 540";
}
motion-path: path{“M 40 0 C 75 170 160 140
  200 280 Q 220 400 340 400 Q 420 380 480 540”;}
/*@keyframes service-bubbles{
  from{ offset-distance:0%;
    motion-offset:0%;}
  to{ offset-distance:100%;
motion-offset:100%;}}*/



@keyframes service-bubbles{
    0%{
    
        opacity: 0;
        color: red;
    }
    50%{
        
        opacity: 0.7;
        color: red;
    }
        100%{
             opacity: 1;
             color: red;
        }
    }
    @keyframes service-bubbles1{
    0%{

        opacity: 0;
        color: blue;
    }
    50%{
        
        opacity: 0.7;
        color: blue;
    }
        100%{
            translateX: -3px;
             opacity: 1;
             color:blue;
        }
    }
   /* .service:nth-child(1){
        animation-delay: 0.4s;
        background-color: blue;
    }
    .service:nth-child(2){
        animation-delay: 0.6s;
        background-color: red;
    }
    .service:nth-child(3){
        animation-delay: 0.8s;
        /*background-color:purple;*/
    }

/*.bubble {
  width: 70px;
  height: 70px;
  left: 100%;
  right: 50%;
  
  background: red;
  border-radius:100%;
}*/
/*.html {
   right: 52%;
    top: 20%;
    text-transform: uppercase;
 -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
     position: absolute;
align-items: center;
    background: #E44D26;
    }*/
.wordpress{
    left: 85%;
    top: 70%;
    background: #1E8CBE;
    animation: service-bubbles 5s gradiant infinite;
}
.woocommerce {
    left: 22%;
    top: 63%;
    background: #9B5C8F;
    animation: service-bubbles 5s gradiant infinite;
}
.bubble{
  width: 50px;
  height: 50px;
  position: absolute;
  background: red;
  border-radius:100%;
  -webkit-tap-highlight-color: transparent;
}

.html {
   width: 50px;
  height: 50px;
  text-transform: uppercase;
  animation:service-bubbles 5s linear infinite ;

}
.service-bubbles{
    height: 30%;
    width: 7%;
    right: 14%;
    top: -20%;
    position: absolute;
    border-radius: 100%;
    animation:blinker 3s linear infinite ;
    background-color: red;
-webkit-tap-highlight-color: transparent;

}
.serviceb{
    height: 30%;
    width: 7%;
    right: 13%;
    top: 70%;
    position: absolute;
    border-radius: 100%;
    animation:blinker 3s linear infinite ;
    background-color: blue;
-webkit-tap-highlight-color: transparent;

}
.service-bubbles2{
    height: 30%;
    width: 7%;
    left: 14%;
    top: 40%;
    position: absolute;
    border-radius: 100%;
    animation:blinker 3s linear infinite ;
    background-color: purple;
-webkit-tap-highlight-color: transparent;

}
 .blink_me {
    color: red;
    animation: blinker 3s linear infinite;
    text-transform: uppercase;
    -webkit-tap-highlight-color: transparent;
}

@keyframes blinker {
    0%{
        opacity: 0;
    }
  50% {
    opacity: 0.5;
  }
  100%{
    opacity: 1;
  }
}
.show-bubble{
    -webkit-animation: 1.2s ease 0s normal forwards 1 running bubbly;;
    animation: 1.2 ease 0s normal forwards 1 running bubbly;
}
.burger {
    padding: 100px 0;
}
.banner{
    background: url(./images/banner-bg.jpg);
    height:100vh;
}
.banner .slogan {
    width: 100%;
    height: 50%;
    position: absolute;
    left: 50%;
    top: 60%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}
.banner h1 small{
    font-weight: 600;
}
.banner p {
    font-size: 1.5rem;
    opacity: 0.8;
    margin-top: 1em;
}
.navbar-collapse {
    flex-grow: 1;  
    align-items: center;
    margin-right: 0px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
}
.small{
    font-size: 80%;
}
.heat{
    position: relative;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    color: #000;
    border-radius: 50px;
    border-color: #000;
    border: 1px solid;
    width: 155px;
}
.heat:hover{
    background: #e13838;
    border-color: #e13838;
    text-decoration: none;
}
.heat:hover{
    color: #fff;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.dropdown-toggle ::after, ::before {
    box-sizing: border-box;
}
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    /*z-index: 1000;*/
    display: none;
    float: left;
   /* width: 30%;*/
    min-width: 10rem;
    padding: 1.5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    /*color: #212529;*/
    text-align: left;
    list-style: none;
    /*background-color: #e13838;*/
    background-clip: padding-box;
    /*border: 1px solid rgba(0,0,0,0.15);*/
    border-radius: .25rem;
    box-sizing: border-box :30px;
}
.dropdown-item {
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #fff;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}
}
ul.dropdown-menu{
    position: absolute;
    background-color: #D94242;
    list-style: none;
    top: 50px;
    left: -75px;
    width: 140%;
    height: 150px;
    border-radius: 5px; 
}
.dropdown-menu.show {
    display: block;
    width: auto;
 }
 .navbar-expand-lg .navbar-nav .dropdown-menu {
    border: none;
   box-shadow: 0 5px 20px rgb(0 0 0 / 10%);
}
.navbar-nav .dropdown-menu {
    position: static;
    float: none;
}
.navbar-toggler {
    padding: .25rem .75rem;
    font-size: 1.25rem;
    line-height: 1;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.navbar-light .navbar-toggler {
    color: rgba(0,0,0,.5);
    border-color: rgba(0,0,0,.1);
}
.form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.masthead {
    margin-bottom: 50px;
}
.white-text {
    color: #FFF;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
*, *:focus, *:active, button:focus {
    outline: none;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.dark-bg {
    background: #d94242;
}
.text-white {
    color: #fff !important;
}
.masthead h2 {
    opacity: 0.5;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.0em;
    letter-spacing: 1px;
    line-height: 1.7;
}
.mastheadhead h2{
    opacity: 0.5;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 1.3em;
    letter-spacing: 1px;
    line-height: 1.7;
    margin-right: -30px;  
}
.mb-md-0, .my-md-0 {
    margin-bottom: 0 !important;
}
.mb-3, .my-3 {
    margin-bottom: 1rem !important;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: 600;
}
.box p {
    opacity: 0.8;
}
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 0px 0px;
    position: absolute;
    /*bottom: 8px;*/
    width: 100%;
    margin-left: -16rem;
}
.grand-parent{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px; 
    overflow-x: hidden;
}
.parents{
    display: flex;
    flex-wrap: wrap;
}
.box{
    background-color:rgba(255,255,255,0.07);
    position: relative;
    padding: 50px;  
    transition: 0.3s all;
    border-radius: 4px;
}
 div .box:hover{
    background-color: #fff;
    color: #000;
    transform: translateY(-20px);
}
.box a {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-indent: -9999px;
}
a:active, a, a:hover {
    text-decoration: none;
    transition: all ease .3s;
}
a, a:focus {
    color: #D94242;
}

.box:hover:before{
    opacity: 1;
}
/*THings make special*/
.up h4{
    
    font-size: 18px;
    font-weight: 500;
}
.up{
    padding: 0 20px;
}
.up .ups-icon {
    height: 100px;
    width: 100px;
    border-radius: 100%;
    background: #f5f6f8;
    text-align: center;
    line-height: 100px;
    margin-bottom: 20px;
}
/*We team of quality developers*/
.grey-bg, .other-services .service-box, .stats-grey {
    background: #F5F6F8;
}
.stats {
    background: #FFF;
    padding: 30px;
    border-radius: 4px;
}
.stats h4 {
    color: #FF4242;
    font-weight: 600;
    font-size: 2em;
}
.h5, h5 {
    font-size: 1.25rem;
    text-align: center;
}
.mt-5, .my-5 {
    margin-top: 3rem !important;
}
.mySlides {
    display: none
    overflow-x: hidden;
    height:350px;
}
#blockquote {
    margin: 0 0 1rem;
}
#blockquote p {
    vertical-align: middle;
}
.numbertext p {
    font-size: 1.5em;
}
p {
    margin-top: 0;
    margin-bottom: 1rem;
}
.client-info {
    position: relative;
}
.client-info span {
    display: block;
    opacity: 0.6;
    font-size: 15px;
}
.client-info .company {
    font-size: 0.5em;

}
.client-info span {
    display: block;
    opacity: 0.6;
}
/* Slideshow container */
.slideshow-container {
  background-color:#F5F6F8 ;
  max-width: 1000px;
  position: relative;
  margin: auto;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* The dots/bullets/indicators */
.point{
     text-align:center;
     overflow: hidden;
     margin-top: 0px; 
     padding-top: 0px; 
     letter-spacing: 7px;
}
.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 3px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  overflow-x: hidden;
}
.active, .dot:hover {
  background-color: #dd5d5d;
}
.h2{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: 600;
    line-height: 1.2;
    color: inherit;
    font-size: 2rem;
    font-style: normal;
}
.half-p {
    width: 60%;
    margin: 0 auto;
    opacity: 0.7;
    font-size: 1.1em;
    font-size:17px; 
    color: #2e2c2c;
}
.email-optin .form-group {
    position: relative;
    width: 55%;
    margin: 0 auto;
}
.form-group {
    position: relative;
    width: 30%;
    margin: 0 auto;
    justify-content: center;
}
.email-optin .form-group .form-control {
    height: 46px;
    border-radius: 25px;
}
.form-control {
    display: block;
    width: 40%;
    margin-left: 25%;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
button, input {
    overflow: visible;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.white-text {
    color: #FFF;
}
.text-center {
    text-align: center !important;
}
.h2{
    font-weight: 600;
    font-size: 2rem;
}
btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.email-optin .form-group button {
    position: absolute;
    right: -10px;
    top: 0;
}
.btn-theme {
    background: #D94242;
    border-color: #D94242;
    border-radius: 30px;
    color: #FFF;
    font-size: 0.9em;
    font-weight: 500;
    letter-spacing: 1px;
    min-width: 175px;
    text-transform: uppercase;
    padding: 0.8em 1.6em;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;
}
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: button;
}
button, select {
    text-transform: none;
}
.form-group button {
    position: relative;
    width: 20%;
    border-radius: 0.25rem;                    
    border-top-left-radius:1.75rem;
    border-top-right-radius: 1.75rem;
    border-bottom-right-radius: 1.75rem;
    border-bottom-left-radius:1.75rem;
    margin-left: 350px;
    height: 48px;
    }
.form-group{
    position: relative;
    width: 55%;
   margin: 0 auto;
   text-align: center;   
}
.col-md-12{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.white-text {
    color: #f8f8f8;
}
.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.footer-nav {
    padding: 0;
    margin: 0;
    list-style: none;
}
.white-text {
    color: #fff;
}
.footer-nav li a {
    color: #fff;
    opacity: 0.6;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 0.8em;
}
.footer-nav a {
    color: #f8f8f8;
}
.footer-nav:hover {
     color: #fff;
}
.footer h4 {
    font-size: 1.2em;
}
.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
    color: #121111;
    font-weight: normal;
}
a:active, a, a:hover {
    text-decoration: none;
    transition: all ease .3s;
}
.copy {
    font-size: 0.8em;
    color: #FFF;
    opacity: 0.4;
    margin-left:13px;
}
.btn-inverse:hover {
    background: #fff;
    border-color: #fff;
    color: #000;
}
.btn-inverse {
    /*background: transparent none repeat scroll 0 0;*/
    border-color: #FFF;
    border-radius: 30px;
    color: #FFF;
    font-size: 0.8em;
    font-weight: 500;
    letter-spacing: 1px;
    min-width: 150px;
    text-transform: uppercase;
    padding: 0.8em 1.6em;
}
.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 1.25rem;
    background-color: #dd4242;
    border: 1px solid;
    border-color: #fff;
    color: #fff;
    left: 25px;
   /* transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out,box-shadow 0.15s ease-in-out;*/
}

